# Collaborative Filtering Recommendations using Normalized Values

In [1]:
import pandas as pd
import numpy as np
import implicit

from matplotlib import pyplot as plt
from scipy.sparse import csr_matrix

In [2]:
train = pd.read_csv("data\\train-plays.csv")
test = pd.read_csv("data\\test-plays.csv")

## Format training data

In [51]:
game_user = train.pivot(index="game_name", columns="user_id", values="norm_amount")

In [52]:
game_user = game_user.fillna(0)

In [53]:
# create user and game incodings
user_coding = pd.DataFrame({"original":game_user.columns, "coded":np.arange(game_user.columns.size)})
game_coding = pd.DataFrame({"original":game_user.index, "coded":np.arange(game_user.index.size)})

In [54]:
game_user.columns = user_coding['coded']
game_user.index = game_coding['coded']

In [55]:
game_user_sparse = csr_matrix(game_user)

In [56]:
user_game = game_user.T

In [57]:
user_game_sparse = csr_matrix(user_game)

In [69]:
train[train['game_name'] == 'Thief Deadly Shadows']

        user_id             game_name  amount  norm_amount
268      975449  Thief Deadly Shadows     4.9     0.371212
1533   10253354  Thief Deadly Shadows     4.0     0.303030
2379   11794760  Thief Deadly Shadows     0.1     0.007576
4824   24632218  Thief Deadly Shadows     0.4     0.030303
9480   45592640  Thief Deadly Shadows    13.2     1.000000
12861  55906572  Thief Deadly Shadows     1.0     0.075758

# Alternating Least Squares

In [58]:
als = implicit.als.AlternatingLeastSquares(128)

In [59]:
als.fit(game_user_sparse)

HBox(children=(IntProgress(value=0, max=15), HTML(value='')))

In [123]:
user_coding[user_coding['coded'] == 1]['original'][1]

86540

In [142]:
rows_list = list()
for i in range(0, len(user_coding.index)):
    recommendations_df = pd.DataFrame(als.recommend(i, user_game_sparse)).merge(game_coding, left_on=0, right_on="coded")
    user_id = user_coding[user_coding['coded'] == i]['original'][i]
    test_df = test[test['user_id'] == user_id]
    test_df = test_df.reset_index(drop=True)
    recs_as_list = recommendations_df['original'].tolist()
    results_dict = dict()
    results_dict['user_coding'] = i
    results_dict['user_id'] = user_id
    results_dict['num_correctly_recommended'] = 0
    results_dict['num_not_recommended'] = 0
    results_dict['num_incorrectly_recommended'] = 0
    #print(recommendations_df, '\n\n', test_df)
    for j in range(0, len(test_df.index)):
        curr_row = test_df.loc[j, :]
        # user in top 95% of liking this game and the game was recommended
        if curr_row['game_name'] in recs_as_list and curr_row['norm_amount'] >= 0.05:
            results_dict['num_correctly_recommended'] = results_dict['num_correctly_recommended'] + 1
        # user in top 95% of liking this game and the game was not recommended
        elif curr_row['game_name'] not in recs_as_list and curr_row['norm_amount'] >= 0.05:
            results_dict['num_not_recommended'] = results_dict['num_not_recommended'] + 1
        # user in bottom 5% of liking this game and the game was recommended
        elif curr_row['game_name'] in recs_as_list and curr_row['norm_amount'] < 0.05:
            results_dict['num_incorrectly_recommended'] = results_dict['num_incorrectly_recommended'] + 1
    rows_list.append(results_dict)
    
results_df = pd.DataFrame(rows_list)
results_df.head()

,num_correctly_recommended,num_incorrectly_recommended,num_not_recommended,user_coding,user_id
0,1,1,2,0,76767
1,0,0,2,1,86540
2,1,1,0,2,229911
3,2,0,9,3,298950
4,0,0,0,4,554278

In [144]:
num_correctly_recommended = 0
num_incorrectly_recommended = 0
num_not_recommended = 0
total_amount = 0
for i in range(0, len(results_df.index)):
    curr_row = results_df.loc[i, :]
    num_correctly_recommended += curr_row['num_correctly_recommended']
    num_incorrectly_recommended += curr_row['num_incorrectly_recommended']
    num_not_recommended += curr_row['num_not_recommended']
    total_amount += curr_row['num_correctly_recommended'] + curr_row['num_not_recommended'] #+ curr_row['num_incorrectly_recommended']

#print(total_amount, num_correctly_recommended, num_not_recommended)
print(100 * (num_correctly_recommended / total_amount))
print(100 * (num_incorrectly_recommended / total_amount))

5.357142857142857
4.74537037037037

In [116]:
test[test['user_id'] == 298950]

,user_id,game_name,amount,norm_amount
14,298950,Battlefield Bad Company 2,0.4,0.000391
15,298950,Sleeping Dogs,1.1,0.007914
16,298950,The Forest,6.9,0.041566
17,298950,"Sir, You Are Being Hunted",0.9,0.050000
18,298950,Red Faction Guerrilla Steam Edition,1.5,0.023810
19,298950,Half-Life 2,0.1,0.000962
20,298950,Prison Architect,2.4,0.012973
21,298950,Sid Meier's Civilization V,135.0,0.024622
22,298950,Sanctum,5.8,0.175758
23,298950,Metro Last Light,9.8,0.058333
24,298950,Crusader Kings II,1.0,0.000880
25,298950,Amnesia A Machine for Pigs,0.2,0.013158
26,298950,Brtal Legend,0.6,0.020690
27,298950,The Witcher 2 Assassins of Kings Enhanced Edition,40.0,0.245399
28,298950,Just Cause 2 Multiplayer Mod,0.6,0.006383
29,298950,Rocket League,49.0,0.102296
30,298950,Trine 2,1.4,0.037838
31,298950,The Long Dark,2.0,0.019417
32,298950,Octodad Dadliest Catch,0.2,0.005128
33,298950,The Cave,3.5,0.048611
34,298950,Might & Magic Heroes VI,0.8,0.000959
35,298950,Universe Sandbox,0.3,0.002174
36,298950,The Lord of the Rings War in the North,0.4,0.003306
37,298950,Counter-Strike Source,0.5,0.000107
38,298950,FTL Faster Than Light,9.7,0.059877
39,298950,"Warhammer 40,000 Dawn of War II - Chaos Rising",0.9,0.003371
40,298950,Warhammer End Times - Vermintide,8.3,0.125862
41,298950,Don't Starve,2.9,0.016384
42,298950,Legend of Grimrock,19.3,0.264384
43,298950,Dungeons of Dredmor,5.4,0.038849
44,298950,Cities Skylines,2.0,0.007018
45,298950,Guns of Icarus Online,1.6,0.021333
46,298950,Gone Home,2.0,0.392157
47,298950,Portal,0.2,0.002532
48,298950,Bulletstorm,2.7,0.020455
49,298950,Transformers Fall of Cybertron,2.3,0.053488
50,298950,Gunpoint,0.4,0.018182
51,298950,Mark of the Ninja,7.9,0.232353
52,298950,Counter-Strike,0.5,0.000107
53,298950,Awesomenauts,0.8,0.002417
54,298950,Left 4 Dead 2,16.3,0.006015
55,298950,Shadow Warrior,0.2,0.008333

In [44]:
user_coding

       original  coded
0         76767      0
1         86540      1
2        229911      2
3        298950      3
4        554278      4
5        561758      5
6        748719      6
7        975449      7
8       1072465      8
9       1129452      9
10      1612666     10
11      1936551     11
12      1950243     12
13      2083767     13
14      2110581     14
15      2259650     15
16      2531540     16
17      2643609     17
18      2753525     18
19      3449240     19
20      3450426     20
21      3527485     21
22      3783783     22
23      3979930     23
24      4595423     24
25      4824107     25
26      4834220     26
27      4877411     27
28      5387470     28
29      5860071     29
...         ...    ...
2096  277541086   2096
2097  281535206   2097
2098  281857216   2098
2099  281864662   2099
2100  282320568   2100
2101  282464648   2101
2102  283922576   2102
2103  285860790   2103
2104  285882402   2104
2105  286926470   2105
2106  287264958   2106
2107  287824954   2107
2108  287848624   2108
2109  288274882   2109
2110  289244540   2110
2111  290542222   2111
2112  291070006   2112
2113  293042025   2113
2114  293303005   2114
2115  294620986   2115
2116  295981434   2116
2117  296260221   2117
2118  296283194   2118
2119  296979815   2119
2120  297510921   2120
2121  297650024   2121
2122  302394761   2122
2123  302472242   2123
2124  303129589   2124
2125  304971849   2125

[2126 rows x 2 columns]

In [45]:
train[train['user_id'] == 76767]

    user_id                                    game_name  amount  norm_amount
0     76767             Rise of Nations Extended Edition     5.7     0.107547
1     76767                             Worms Armageddon     0.4     0.020000
2     76767                 Age of Empires II HD Edition    13.1     0.019208
3     76767                Call of Duty Modern Warfare 2    65.0     0.137131
4     76767                                  Alien Swarm     0.8     0.009639
5     76767                               Counter-Strike   365.0     0.078259
6     76767                                     Banished    24.0     0.060150
7     76767                        Counter-Strike Source    25.0     0.005346
8     76767  Call of Duty Modern Warfare 2 - Multiplayer   165.0     0.144991
9     76767                          The Stanley Parable     1.8     0.051429
10    76767         Call of Duty Black Ops - Multiplayer    12.5     0.006572
11    76767                                     Portal 2    15.0     0.020690
12    76767                Call of Duty Modern Warfare 3    15.9     0.034120
13    76767                             Total War ATTILA   207.0     0.495215