# Collaborative Filtering Recommendations using Original Values

In [3]:
import pandas as pd
import numpy as np
import implicit

from matplotlib import pyplot as plt
from scipy.sparse import csr_matrix

In [4]:
train = pd.read_csv("data\\train-plays.csv")
test = pd.read_csv("data\\test-plays.csv")

## Format training data

In [5]:
game_user = train.pivot(index="game_name", columns="user_id", values="amount")

In [6]:
game_user = game_user.fillna(0)

In [7]:
# create user and game incodings
user_coding = pd.DataFrame({"original":game_user.columns, "coded":np.arange(game_user.columns.size)})
game_coding = pd.DataFrame({"original":game_user.index, "coded":np.arange(game_user.index.size)})

In [8]:
game_user.columns = user_coding['coded']
game_user.index = game_coding['coded']

In [9]:
game_user_sparse = csr_matrix(game_user)

In [10]:
user_game = game_user.T

In [12]:
user_game_sparse = csr_matrix(user_game)

# Alternating Least Squares

In [22]:
als = implicit.als.AlternatingLeastSquares(128)

In [23]:
als.fit(game_user_sparse)

RuntimeError: Cuda Error: unknown error (implicit/cuda/matrix.cu:47)

In [30]:
pd.DataFrame(als.recommend(0, user_game_sparse)).merge(game_coding, left_on=0, right_on="coded")

      0         1                       original  coded
0   361  0.765361         Call of Duty Black Ops    361
1   370  0.567266  Call of Duty Modern Warfare 2    370
2   372  0.395861  Call of Duty Modern Warfare 3    372
3  1719  0.382153                         Portal   1719
4   876  0.372286              Fallout New Vegas    876
5  1426  0.371800          Medieval II Total War   1426
6  1903  0.340836                 Rome Total War   1903
7   227  0.312294      Battlefield Bad Company 2    227
8  2286  0.306539                Team Fortress 2   2286
9   697  0.300643                         Dota 2    697

In [36]:
test[test['user_id'] == 76767]

       user_id                      game_name  amount  norm_amount
1029     76767         Call of Duty Black Ops    22.0     0.057692
2049     76767  Call of Duty Modern Warfare 2    65.0     0.175824
6112     76767           Thief Deadly Shadows     3.4     0.006593
10243    76767  Call of Duty Modern Warfare 3    15.9     0.040934

In [18]:
user_coding

       original  coded
0          5250      0
1         76767      1
2         86540      2
3        229911      3
4        298950      4
...         ...    ...
2431  303129589   2431
2432  303525289   2432
2433  304971849   2433
2434  306971738   2434
2435  309404240   2435

[2436 rows x 2 columns]

In [20]:
train[train['user_id'] == 76767]

,user_id,game_name,amount,norm_amount
1963,76767,Counter-Strike,365.0,0.075821
2183,76767,Call of Duty Modern Warfare 2 - Multiplayer,165.0,0.138191
6680,76767,Portal 2,15.0,0.020690
9267,76767,Age of Empires II HD Edition,13.1,0.019208
9885,76767,Call of Duty Modern Warfare 3,15.9,0.034120
13573,76767,Counter-Strike Global Offensive,3.5,0.000751
24743,76767,Half-Life,1.2,0.018182
25296,76767,Banished,24.0,0.058537
31445,76767,Total War ATTILA,207.0,0.495215
32628,76767,Thief Deadly Shadows,3.4,0.257576
35364,76767,Worms Armageddon,0.4,0.020000
38138,76767,Call of Duty Modern Warfare 2,65.0,0.137131
39812,76767,The Stanley Parable,1.8,0.051429
40620,76767,Call of Duty Black Ops - Multiplayer,12.5,0.006572